@page "/"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService

<h3> Latest posts</h3>
@if (posts == null)
{
    <p>Loading posts...</p>
}
else if (!posts.Any())
{
    <p>No posts to display.</p>
}
else
{
    <div class="post-container-wrapper">
        @foreach (var post in posts)
        {
            <div class="post-container">
                <a href="/ViewPosts/@post.Id">
                    <strong>@post.Title</strong> by @post.Owner.UserName
                </a>
            </div>
        }
    </div>
}


@code {
    private IEnumerable<Post> posts;

    protected override async Task OnInitializedAsync()
    {
        // Assuming you have a postService with a method like GetAsync
        posts = await postService.GetAsync(null, null, null, null);
    }
}
